body{
    background-color:#A6D1E6;
   }
   h1{
    color:#236c85;
   }
   h3{
    color: #236c85;
   }
   
   hr{
    border-style:none;
    border-top:dotted;
    border-width: 2px;
    width: 5%;
    color: gray;
   }