body{
    background-color:aquamarine;
   }
   h1{
    color: #D61C4E;
   }
   h3{
    color: #5edb0b;
   }
   
   hr{
    border-style:none;
    border-top:dotted;
    border-width: 2px;
    width: 5%;
    color: gray;
   }
    
